<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/post.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <title>게시물 목록</title>
</head>
<body>
<h2>Connect Zone</h2>
<nav th:replace="~{fragments/navbar::nav}"></nav>

<table>
    <thead>
    <tr>
        <th>게시물 번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>최종 수정일</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="post, index: ${postList}">
            <td th:text="${post.getPostNum()}"></td>
            <td>
                    <a th:href="@{|/board/post/${post.postNum}|}" th:text="${post.getPostTitle()}"></a>
            </td>
            <td th:text="${post.getUserId()}"></td>
            <td th:text="${#temporals.format(post.modifiedAt, 'yy-MM-dd HH:mm')}"></td>
    </tbody>
</table>
</body>
</html>
