<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/loginstyle.css">
    <title>계정 삭제</title>
</head>
<body>

<h2>계정 삭제</h2>
<div class="container">
    <div th:if="${errorMessage}">
        <script th:inline="javascript">
            var errorMessage = [[${errorMessage}]];
        </script>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form id="deleteUserForm" action="/user/deleteUser" method="post">
            <p>계정을 삭제하려면 비밀번호를 입력하세요</p>
            <label for="userPwd">Password</label>
            <input type="password" id="userPwd" name="userPwd" required placeholder="비밀번호를 입력하세요">

            <p>정말 계정을 삭제하시겠습니까?</p>
            <button type="submit">확인</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (errorMessage) {
            alert(errorMessage);
        }
    });
</script>
</body>
</html>
