<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/userDetail.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <title>마이페이지</title>
</head>
<body>
    <h2>MyPage</h2>
    <nav th:replace="~{fragments/navbar::nav}"></nav>


    <table>
        <tbody>
        <tr>
            <th>아이디</th>
            <td th:text="${userDetails.username}"></td>
        </tr>
        <tr>
            <th>이름</th>
            <td th:text="${userDetails.realName}"></td>
        </tr>
        <tr>
            <th>가입일</th>
            <td th:text="${#temporals.format(userDetails.createdAt, 'yy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <div class="button">
        <form action="/changePwd" method="get">
            <button type="submit">비밀번호 수정</button>
        </form>
        <form action="/user/deleteUser" method="get">
            <button type="submit">계정 삭제</button>
        </form>
        <form th:action="@{/board/posts/{username}(username=${userDetails.username})}" method="get">
            <button type="submit">내가 쓴 글</button>
        </form>
        <form th:action="@{/comment/myComments/{userId}(userId=${userDetails.username})}" method="get">
            <button type="submit">내가 쓴 댓글</button>
        </form>
    </div>

</body>
</html>