<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/loginstyle.css">
    <title>댓글 삭제</title>
</head>
<body>

<h2>답글 삭제</h2>
<div class="container">
    <div th:if="${errorMessage}">
        <script th:inline="javascript">
            var errorMessage = [[${errorMessage}]];
        </script>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div class="button">
            <form id="deletePostForm" th:action="@{/comment/{commentNum}/reply/{replyNum}/delete(commentNum=${commentNum},replyNum=${replyNum})}" method="post">
                <p>답글을 삭제하시겠습니까?</p>
                <button type="submit">확인</button>
            </form>
            <form th:action="@{/comment/{commentNum}(commentNum=${commentNum})}" method="get">
                <button type="submit">취소</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (errorMessage) {
            alert(errorMessage);
        }
    });
</script>
</body>
</html>
