/* 네비게이션 바 배경색 및 텍스트 색상 설정 */
.navbar {
    background-color: dimgrey; /* 배경색: 어두운 그레이 */
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand, .navbar-nav .nav-link {
    color: black; /* 텍스트 색상: 흰색 */
}

/* 호버 효과 설정 */
.navbar-nav .nav-link:hover {
    color: sandybrown; /* 호버 시 텍스트 색상: 연한 그레이 */
}