<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>FitConnect</title>
</head>
<body>
<h1>FitConnect</h1>
<p>fitness&connect</p>
<div class="image-container">
    <img id="myImage" src="/images/home.png">
</div>
<form id="userInfo">
    <div sec:authorize="isAuthenticated()">
        <form id="logout-form" method="post">
            <button type="submit" formaction="/users/myPage">마이페이지</button>
            <button type="submit" formaction="/users/logout">로그아웃</button>
            <button type="submit" formaction="/boards/posts">글보기</button>
            <button type="submit" formaction="/boards/post">글쓰기</button>
        </form>
    </div>

    <div sec:authorize="isAnonymous()">
        <button type="submit" formaction="/users/signup-login">회원가입&로그인</button>
        <button type="submit" formaction="/boards/posts">글보기</button>
    </div>
</form>
</body>
</html>