<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/post.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <title>Title</title>
</head>
<body>
<h2>Connect Zone</h2>
<nav th:replace="~{fragments/navbar::nav}"></nav>

<table>
    <tbody>
        <tr>
            <td th:text="${comment.getPostNum()}"></td>
            <td th:text="${comment.commentContent}"></td>
            <td th:text="${comment.getUserId()}"></td>
            <td th:text="${#temporals.format(comment.modifiedAt, 'yy-MM-dd HH:mm')}"></td>
        </tr>
    </tbody>
</table>
<div sec:authorize="isAuthenticated()">
    <form id="replyForm" th:action="@{'/comment/'+${comment.getCommentNum()}+'/reply/write'}" method="post">
        <h4>답글 작성</h4>
        <textarea id="replyContent" name="replyContent"></textarea>
        <input type="hidden" id="commentNum" name="commentNum" th:value="${comment.getCommentNum()}">
        <button type="submit">작성</button>
    </form>
</div>
<a th:href="@{/board/post/{postNum}(postNum=${comment.getPostNum()})}"><button type="submit">게시글로 돌아가기</button></a>
<h4>답글</h4>
<table>
    <tbody>
    <tr th:each="reply, index: ${replyList}">
        <td th:text="${reply.getCommentNum()}"></td>
        <td th:text="${reply.getReplyContent()}"></td>
        <td th:text="${comment.getUserId()}"></td>
        <td th:text="${#temporals.format(reply.modifiedAt, 'yy-MM-dd HH:mm')}"></td>
        <div sec:authorize="isAuthenticated()">
            <div class="button-container" th:if="${reply.getUserId() == userInfo.getUsername()}">
                <td><a th:href="@{/comment/{commentNum}/reply/{replyNum}/delete(commentNum=${comment.getCommentNum()}, replyNum=${reply.getReplyNum()})}" methods="get">삭제</a></td>
            </div>
            <div th:unless="${reply.getUserId()==userInfo.getUsername()}">
                <td></td>
            </div>

        </div>
    </tr>
    </tbody>
</table>
</body>
</html>