<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/post.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <title>게시물 목록</title>
</head>
<body>
<h2>Connect Zone</h2>
<nav th:replace="~{fragments/navbar::nav}"></nav>

<table>
    <thead>
    <tr>
        <th>게시글</th>
        <th>댓글 내용</th>
        <th>작성자</th>
        <th>최종 수정일</th>
    </tr>
    </thead>
    <tbody id="myCommentsTableBody">

    </tbody>
</table>
<script th:inline="javascript">
    var userId = [[${#authentication.principal.username}]];
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // 서버에서 게시물 목록을 가져와서 테이블에 추가하는 함수
        function loadComments() {
            $.ajax({
                type: 'GET',
                url: '/rest-api/comments/users/'+userId+'/my-comments',
                success: function (response) {
                    // 서버에서 받아온 JSON 데이터를 이용하여 HTML을 생성하여 테이블에 추가합니다.
                    var comments = response;
                    var tableBody = $('#myCommentsTableBody');
                    tableBody.empty(); // 기존 데이터 삭제
                    comments.forEach(function (comment) {
                        var modifiedAt = new Date(comment.modifiedAt);
                        var formattedModifiedAt = ("0" + (modifiedAt.getFullYear() % 100)).slice(-2) + "-" + ("0" + (modifiedAt.getMonth() + 1)).slice(-2) + "-" + ("0" + modifiedAt.getDate()).slice(-2) + " " + ("0" + modifiedAt.getHours()).slice(-2) + ":" + ("0" + modifiedAt.getMinutes()).slice(-2);

                        var row = '<tr>' +
                            '<td>' + comment.postNum + '</td>' +
                            '<td>'+comment.commentContent+'</td>' +
                            '<td>' + comment.userName + '</td>' +
                            '<td>' + formattedModifiedAt + '</td>' +
                            '</tr>';
                        tableBody.append(row);
                    });
                },
                error: function (xhr, status, error) {
                    // 오류 발생 시 처리
                    console.error('Failed to load posts:', error);
                }
            });
        }

        // 페이지 로드 시 게시물 목록을 로드합니다.
        loadComments();
    });
</script>
</body>
</html>